<div class="title color-layout">
    <h3>Information</h3>
</div>
<div class="certificates">
    <div class="imagen">
        <img [src]="certificadoActivo.id_web | imagenPipe">
    </div>

    <div class="information color-layout">
        <h2>Name: <pre>{{ certificadoActivo.nombre }}</pre></h2>
        <h2>ID: <pre>{{ certificadoActivo.id }}</pre></h2>
        <h2>Mentor: <pre>{{ certificadoActivo.tutor }}</pre></h2>
        <h2>Academy: <pre>{{ certificadoActivo.academia }}</pre></h2>
        <h2>Year: <pre>{{ certificadoActivo.year }}</pre></h2>
        <button pButton type="button"
                label="Back"
                class="p-button-outlined"
                icon="pi pi-replay"
                iconPos="right"
                routerLink="/certificates">
        </button>
    </div>

</div>
