<div class="title color-layout">
  <h3>Mis proyectos</h3>
</div>
<div class="cards">

  <p-card header="League of Legends" subheader="Champion Picker" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../../assets/imgs/Imagenes-proyectos/LeagueOfLegends.jpg" class="principal">
    </ng-template>
    <p>Simulador de la selección de campeon en el videojuego League of Legends.</p>
    <div class="languages">
      <h3>Lenguajes: </h3>
      <div class="icons">
        <img src="../../../../assets/imgs/Logos-Mini/html.png">
        <img src="../../../../assets/imgs/Logos-Mini/css.png">
        <img src="../../../../assets/imgs/Logos-Mini/sass.png">
        <img src="../../../../assets/imgs/Logos-Mini/js.png" class="rounded">
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="Demo" icon="pi pi-eye" iconPos="right"
        (click)="redireccionar('https://angry-leavitt-1f14de.netlify.app')"></p-button>
      <p-button label="Repositorio" icon="pi pi-github" iconPos="right" styleClass="p-button-secondary"
        [style]="{'margin-left': '.5em'}"
        (click)="redireccionar('https://github.com/SebastianCB-dev/LeagueOfLegendsSimulatorP')"></p-button>
    </ng-template>
  </p-card>

  <p-card header="Fundación de Levi" subheader="Fundación sin animo de lucro" [style]="{width: '360px'}"
    styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../../assets/imgs/Imagenes-proyectos/FundacionDeLevi.jpeg" class="principal">
    </ng-template>
    <p>Desarrollo de la pagina web de la fundación de Levi.</p>
    <div class="languages">
      <h3>Lenguajes: </h3>
      <div class="icons">
        <img src="../../../../assets/imgs/Logos-Mini/html.png">
        <img src="../../../../assets/imgs/Logos-Mini/css.png">
        <img src="../../../../assets/imgs/Logos-Mini/sass.png">
        <img src="../../../../assets/imgs/Logos-Mini/js.png" class="rounded">
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="Demo" icon="pi pi-eye" iconPos="right"
        (click)="redireccionar('https://www.fundaciondelevi.com')"></p-button>

    </ng-template>
  </p-card>


  <p-card header="Tulpa de la paz" subheader="Semana de la paz" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../../assets/imgs/pazProject.jpg" class="principal">
    </ng-template>
    <p>Desarrollo de una ruleta para la semana de la paz.</p>
    <div class="languages">
      <h3>Lenguajes: </h3>
      <div class="icons">
        <img src="../../../../assets/imgs/Logos-Mini/html.png">
        <img src="../../../../assets/imgs/Logos-Mini/css.png">
        <img src="../../../../assets/imgs/Logos-Mini/sass.png">
        <img src="../../../../assets/imgs/Logos-Mini/js.png" class="rounded">
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="Demo" icon="pi pi-eye" iconPos="right"
        (click)="redireccionar('https://tulpadelapaz.netlify.app/')"></p-button>
      <p-button label="Repositorio" icon="pi pi-github" iconPos="right" styleClass="p-button-secondary"
        [style]="{'margin-left': '.5em'}"
        (click)="redireccionar('https://github.com/SebastianCB-dev/tulpadelapaz')"></p-button>
    </ng-template>
  </p-card>


  <p-card header="PokemonApp" subheader="Aplicación de Pokemon" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../../assets/imgs/Imagenes-proyectos/pokemon.jpg" class="principal">
    </ng-template>
    <p>Información de pokemones usando la API de PokeAPI.</p>
    <div class="languages">
      <h3>Lenguajes: </h3>
      <div class="icons">
        <img src="../../../../assets/imgs/Logos-Mini/html.png">
        <img src="../../../../assets/imgs/Logos-Mini/css.png">
        <img src="../../../../assets/imgs/Logos-Mini/typescript.png">
        <img src="../../../../assets/imgs/Logos-Mini/rxjs.svg">
        <img src="../../../../assets/imgs/Logos-Mini/angular.png">
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="Demo" icon="pi pi-eye" iconPos="right"
        (click)="redireccionar('https://pokemonappjscb.netlify.app')"></p-button>
      <p-button label="Repositorio" icon="pi pi-github" iconPos="right" styleClass="p-button-secondary"
        [style]="{'margin-left': '.5em'}"
        (click)="redireccionar('https://github.com/SebastianCB-dev/pokemonapp')"></p-button>
    </ng-template>
  </p-card>

</div>
