<div class="title color-layout">
  <h3>My projects</h3>
</div>
<div class="cards">

  <p-card header="League of Legends" subheader="Champion Picker" class="p-card-project" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../../assets/imgs/Imagenes-proyectos/LeagueOfLegends.jpg" class="principal">
    </ng-template>
    <p>Simulator about the champion picker on the videogame League of Legends.</p>    
    <div class="languages">
      <h3>Technologies: </h3>
      <div class="icons">
        <img src="../../../../assets/imgs/Logos-Mini/html.png">
        <img src="../../../../assets/imgs/Logos-Mini/css.png">
        <img src="../../../../assets/imgs/Logos-Mini/sass.png">
        <img src="../../../../assets/imgs/Logos-Mini/js.png" class="rounded">
      </div>
    </div>
    <ng-template pTemplate="footer" class="buttons">
      <p-button label="Demo" icon="pi pi-eye" iconPos="right"
        (click)="redireccionar('https://angry-leavitt-1f14de.netlify.app')" class="button"></p-button>
      <p-button label="Repository" icon="pi pi-github" iconPos="right" styleClass="p-button-secondary"
        [style]="{'margin-left': '.5em'}"
        (click)="redireccionar('https://github.com/SebastianCB-dev/LeagueOfLegendsSimulatorP')" class="button"></p-button>
    </ng-template>
  </p-card>

  <p-card header="Fundación de Levi" subheader="Non-profit Foundation" class="p-card-project"
    styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../../assets/imgs/Imagenes-proyectos/FundacionDeLevi.jpeg" class="principal">
    </ng-template>
    <p>Development of Fundacion de Levi's page with JavaScript vanilla.</p>    
    <div class="languages">
      <h3>Technologies: </h3>
      <div class="icons">
        <img src="../../../../assets/imgs/Logos-Mini/html.png">
        <img src="../../../../assets/imgs/Logos-Mini/css.png">
        <img src="../../../../assets/imgs/Logos-Mini/sass.png">
        <img src="../../../../assets/imgs/Logos-Mini/js.png" class="rounded">
      </div>
    </div>
    <ng-template pTemplate="footer" class="buttons">
      <p-button label="Demo" icon="pi pi-eye" iconPos="right"
        (click)="redireccionar('https://www.fundaciondelevi.com')" class="button"></p-button>

    </ng-template>
  </p-card>


  <p-card header="Tulpa de la paz" subheader="Peace Week" class="p-card-project" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../../assets/imgs/pazProject.jpg" class="principal imagen-peace">
    </ng-template>
    <p>Development of a wheel for the peace week with JavaScript vanilla.</p>    
    <div class="languages">
      <h3>Technologies: </h3>
      <div class="icons">
        <img src="../../../../assets/imgs/Logos-Mini/html.png">
        <img src="../../../../assets/imgs/Logos-Mini/css.png">
        <img src="../../../../assets/imgs/Logos-Mini/sass.png">
        <img src="../../../../assets/imgs/Logos-Mini/js.png" class="rounded">
      </div>
    </div>
    <ng-template pTemplate="footer" class="buttons">
      <p-button label="Demo" icon="pi pi-eye" iconPos="right"
        (click)="redireccionar('https://tulpadelapaz.netlify.app/')" class="button"></p-button>
      <p-button label="Repository" icon="pi pi-github" iconPos="right" styleClass="p-button-secondary"
        [style]="{'margin-left': '.5em'}"
        (click)="redireccionar('https://github.com/SebastianCB-dev/tulpadelapaz')" class="button"></p-button>
    </ng-template>
  </p-card>


  <p-card header="PokemonApp" subheader="Pokemon Application" class="p-card-project" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../../assets/imgs/Imagenes-proyectos/pokemon.jpg" class="principal imagen-pokemon">
    </ng-template>
    <p>Information about the pokemons using the API from PokeAPI.</p>    
    <div class="languages">
      <h3>Technologies: </h3>
      <div class="icons">
        <img src="../../../../assets/imgs/Logos-Mini/html.png">
        <img src="../../../../assets/imgs/Logos-Mini/css.png">
        <img src="../../../../assets/imgs/Logos-Mini/typescript.png">
        <img src="../../../../assets/imgs/Logos-Mini/rxjs.svg">
        <img src="../../../../assets/imgs/Logos-Mini/angular.png">
      </div>
    </div>
    <ng-template pTemplate="footer" class="buttons">
      <p-button label="Demo" icon="pi pi-eye" iconPos="right"
        (click)="redireccionar('https://pokemonappjscb.netlify.app')" class="button"></p-button>
      <p-button label="Repository" icon="pi pi-github" iconPos="right" styleClass="p-button-secondary"
        [style]="{'margin-left': '.5em'}"
        (click)="redireccionar('https://github.com/SebastianCB-dev/pokemonapp')" class="button" ></p-button>
    </ng-template>
  </p-card>

  <p-card header="ToDo" subheader="Tasks Application" class="p-card-project" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img alt="Card" src="../../../../assets/imgs/Imagenes-proyectos/ToDo.png" class="principal imagen-todo">
    </ng-template>    
    <p>Application to create tasks and remember your groseries.</p>
    <div class="languages">
      <h3>Technologies: </h3>
      <div class="icons">
        <img src="../../../../assets/imgs/Logos-Mini/html.png">
        <img src="../../../../assets/imgs/Logos-Mini/css.png">
        <img src="../../../../assets/imgs/Logos-Mini/sass.png">
        <img src="../../../../assets/imgs/Logos-Mini/typescript.png">
        <img src="../../../../assets/imgs/Logos-Mini/angular.png">
      </div>
    </div>
    <ng-template pTemplate="footer" class="buttons">
      <p-button label="Demo" icon="pi pi-eye" iconPos="right"
        (click)="redireccionar('https://todosebastiancb.netlify.app/')" class="button"></p-button>
      <p-button label="Repository" icon="pi pi-github" iconPos="right" styleClass="p-button-secondary"
        [style]="{'margin-left': '.5em'}" class="button"
        (click)="redireccionar('https://github.com/SebastianCB-dev/ToDo_Angular')"></p-button>
    </ng-template>
  </p-card>

</div>
