<div class="techs">
    <div class="color-layout title">
        <h3>Knowledge</h3>
    </div>

    <!--
    <div class="color-layout title-main">
        <h3>Stack Principal MEAN</h3>
    </div>
    <!-- MEAN 

    <div class="mean-techs color-layout animate__animated animate__zoomIn">
        <div class="tech mongo-tech">
            <img src="../../../assets/imgs/mongo.png" class="mongo">
            <p>MongoDB</p>
        </div>
        <div class="tech express-tech">
            <img src="../../../assets/imgs/Expressjs.png" class="express">
            <p>Express</p>
        </div>
        <div class="tech angular-tech">
            <img src="../../../assets/imgs/angular.png" class="angular">
            <p>Angular2</p>
        </div>
        <div class="tech node-tech">
            <img src="../../../assets/imgs/nodejs.png" class="node">
            <p>NodeJS</p>
        </div>
    </div>

    <div class="color-layout title-other">
        <h3>Otras tecnologías</h3>
    </div>
    -->
    <div class="main-techs color-layout animate__animated animate__zoomIn">
        <div class="tech html-tech">
            <img src="../../../assets/imgs/html.png" class="html">
            <p>HTML5</p>
        </div>

        <div class="tech css-tech">
            <img src="../../../assets/imgs/css3.svg" class="css">
            <p>CSS3</p>
        </div>
        <div class="tech sass-tech">
            <img src="../../../assets/imgs/sass.png" class="sass">
            <p>SASS</p>
        </div>
        <div class="tech js-tech">
            <img src="../../../assets/imgs/JavascriptLogo.png" class="js">
            <p>JavaScript</p>
        </div>
        <div class="tech ts-tech">
            <img src="../../../assets/imgs/typescript.png" class="ts">
            <p>TypeScript</p>
        </div>
        <div class="tech rxjs-tech">
            <img src="../../../assets/imgs/rxjs.svg" class="rxjs">
            <p>RxJs</p>
        </div>
        <div class="tech angular-tech">
            <img src="../../../assets/imgs/angular.png" class="angular">
            <p>Angular</p>
        </div>
        <div class="tech git-tech">
            <img src="../../../assets/imgs/git.png" class="git">
            <p>Git</p>
        </div>

        <div class="tech mysql-tech">
            <img src="../../../assets/imgs/MySQL.png" class="mysql">
            <p>MySQL</p>
        </div>
        <!-- <div class="tech docker-tech">
            <img src="../../../assets/imgs/Docker.png" class="docker">
            <p>Docker</p>
        </div> -->

        <div class="tech c-tech">
            <img src="../../../assets/imgs/c.png" class="c">
            <p>C++</p>
        </div>
        <div class="tech java-tech">
            <img src="../../../assets/imgs/java.png" class="java">
            <p>Java</p>
        </div>
        <div class="tech linux-tech">
            <img src="../../../assets/imgs/linux.png" class="linux">
            <p>Linux Junior</p>
        </div>
        
    </div>
</div>
