
<div class="main color-layout animate__animated animate__fadeIn">
   <img src="../../assets/imgs/favicon.webp">
   <h1>Joan Sebastian Carrillo Baron</h1>
   <h2>Web Developer <br>Front-End</h2>
   <div class="buttons">
      <button pButton 
              label="See CV"
              icon="pi pi-arrow-right"
              iconPos="right"
              class="p-button-outlined"
              (click)="irACV()">
      </button>
       
      <button pButton 
              label="See Portfolio"
              icon="pi pi-folder"
              iconPos="right"
              class="p-button-outlined"
              routerLink="projects">
      </button>
   </div>
</div>
<hr>
<div class="about-me color-layout animate__animated animate__fadeIn">
   <div class="title">      
      <h3>¿Who am I?</h3>
   </div>

   <div class="cards">
      <div class="card information">
            <img src="../../assets/imgs/avatar-sebastian-1.png" class="avatar-1">
            <img src="../../assets/imgs/avatar-sebastian-2.png" class="avatar-2">
            <h5>Joan Sebastian Carrillo Baron</h5>
            <p>Joan Sebastian Carrillo Baron is a 
               <span>Computer System Engineering</span> student at the Catholic University of Colombia,
               he is a responsible and dedicated person for the learning,
                he loves the <span>Web Development</span> and be <span>autodidact</span>.
            </p>
      </div>
      <div class="card description">
         <img src="../../assets/imgs/avatar-sebastian-3.png" class="avatar-1">
         <img src="../../assets/imgs/avatar-sebastian-4.png" class="avatar-2">
         <h5>My strengths</h5>
         <ul>
            <li>Teamwork</li>
            <li>Responsibility</li>
            <li>Autonomous learning</li>
            <li>Commitment</li>
            <li>Kindness</li>
         </ul>
      </div>
   </div>
</div>
<hr>

<div class="work color-layout animate__animated animate__fadeIn">
   <div class="title">      
      <h3>¿Why should you work with me?</h3>
   </div>
   <div class="cards">
      <div class="card cardOne">
         <img src="../../assets/imgs/compromiso.svg">
         <h5>Commitment</h5>
         <p>I am a committed person with the pending jobs, give up is not an option, we always have to find a solution, a help or a colaborate with the team.
         </p>
      </div>
      <div class="card cardTwo">
         <img src="../../assets/imgs/responsabilidad.svg">
         <h5>Responsibility</h5>
         <p>The responsibility is very important aspect within the work, so I have to finish my jobs and duties with the best way and the best perfomance.</p>
      </div>
      <div class="card cardThree">
         <img src="../../assets/imgs/alta-calidad2.png">
         <h5>Attitude</h5>
         <p>I like to have great attitude and share it with the other people, this with the purpose of generate a pleasant ambient and I like to working with different developers, help you with any problem and be a leader.
         </p>
      </div>


   </div>

</div>
