.footer {
    height: 200px;
}

.footer .boxes {
    display: flex;
    justify-content: space-evenly;
}

.footer .boxes .box {
    width: 184px;
    height: 100%;
}

.footer .boxes .boxOne h3, .footer .boxes .boxTwo h3 {
    text-align: center;
    font-size: 25px;
    margin-top: 70px;
}

.footer .boxes .boxOne p, .footer .boxes .boxTwo p {
    text-align: center;
}



/* Responsive */

@media(max-width: 1023px) {
    .footer .boxes .boxOne h3, .footer .boxes .boxTwo h3 {
        color: var(--primary-color);
    }

}
@media(max-width: 462px) {
    .footer .boxes {
        display: block;
    }
    .footer .boxes .box {
        width: 300px;
        margin: 0px auto;        
    }
    .footer .boxes .boxTwo {
        margin-bottom: 50px;
    }
    .footer {
        height: auto;
    }
}